/* Events Section */
#tf-events{
	background: url(../img/05.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #ffffff;
  height: 100vh;
}

#tf-events .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	padding: 50px 0;
	background-attachment: fixed;
  height: 100vh;
}

.events-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 10px;
}

.filter-section {
  margin-bottom: 20px;
  display: block;
  /* text-align: left; */
  /* width: 10%; */
}

.filter-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-items-title {
  font-weight: bold;
  margin-right: 20px;
}

.filter-item {
  margin-left: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-item input {
  margin: 0;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
}

.filter-item label {
  margin: 0;
  padding-left: 10px;
  outline: none;
  font-weight: 300;
  cursor: pointer;
}

.filter-item label:hover {
  color: #45c8fc;
}

.week-calendar-section {
  width: 95vw;
}

.week-events-columns {
  height: 60vh;
  overflow-y: auto;
  cursor: grab;
  /* align-items: stretch; */
  /* transition: all 0.2s;
  will-change: transform;
  user-select: none; */
  /* background-color: rgba(0, 0, 0, 0.644); */
}

.week-events-columns.active {
  cursor: grabbing;
  transform: scale(1.05);
}

.week-events-columns::-webkit-scrollbar {
  display: none;
}

/* .week-events-columns::-webkit-scrollbar {
  display: none;
  width: 0.5em;
}
 
.week-events-columns::-webkit-scrollbar-track {
  box-shadow: none;
	border: none;
	background: #eee;
}
 
.week-events-columns::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: none;
}

.week-events-columns::-webkit-scrollbar-thumb:hover {
  background-color: #45c8fc;
} */

.week-days-columns, .week-events-columns {
  display: flex;
  justify-content: center;
  width: 100%;
}

.day-section{
  width: 14%;
  margin: 0 1px;
  flex-grow: 1;
  align-content: stretch;
  /* height: 100%; */
  /* display: flex; */
  /* background-color: rgba(0, 0, 0, 0.644); */
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}

.day-events {
  /* align-content: stretch;
  align-items: stretch; */
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.644);
}

.day-title {
  color: #fff;
  padding: 10px;
  font-weight: bold;
  width: 100%;
}

.current-day-title {
  background-color: #45c8fc;
  color: #222;
  border-color: #ffffff00;
}

.event-card {
  background-color: #fff;
  color: #333;
  padding: 10px 20px 5px;
  margin-bottom: 5px;
  width: 100%;
  border-bottom: 4px #ccc solid;
  animation: 0.5s appear;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.event-card-title {
  color: #222;
  font-size: 1.2em;
  font-weight: 600;
  margin: 5px 0 15px;
}

.event-card-contact-item {
  display: flex;
	align-items: center;
	margin-bottom: 5px;
  color: #555;
}

.event-card-contact-icon {
	text-align: center;
	width: 15px;
	margin-right: 5px;
}

.empty-item {
  display: none;
}

.tags-section {
  padding-top: 3px;
  margin-top: 15px;
  border-top: 1px solid #999;
  /* display: none; */
}

.tag {
  display: inline-block;
  font-size: 0.65em;
  margin: 0 3px;
  color: #fff;
  background-color: #555;
  padding: 1.5px 8px;
  border-radius: 20px;
}