/* Navigation */
#tf-menu {
	padding: 20px;
	transition: all 0.8s;
}
#tf-menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#tf-menu a.navbar-brand {
text-transform: uppercase;
font-size: 22px;
color: #fff;
font-weight: 900;
}

.navbar-brand {
	padding: 0;
}

.header-menu {
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-brand img {
	height: 80%;
}

/* .navbar-header {
	display: flex;
	justify-content: space-between;
} */

#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #FFF;
	font-size: 12px;
	letter-spacing: 1px;
}
.on {
	background-color: #222222 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a,
#tf-menu.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #45c8fc !important;
	background-color: transparent;
	font-weight: 700;
}

.navbar-toggle {
	border-radius: 0;
	}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background-color: #45c8fc;
	border-color: #45c8fc;
	}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
	}